{% extends 'stepshop/base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container" style="margin-top:50px;">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Продукт</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена продукта</th>
                <th scope="col">Итого</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.product_cost }}</td>
                <!--<td>
                     <div class="main-button">
                      <a href="{% url 'basket:add' item.product.pk %}">Прибавить</a>
                      </div>
                </td>
                <td>
                     <div class="main-button">
                      <a href="{% url 'basket:remove' item.product.pk %}">Отнять</a>
                      </div>
                </td>-->
                <td>
                    <div class="main-button">
                        <a href="{% url 'basket:delete' item.product.pk %}">Удалить</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if basket %}
        <div class="basket_summary">
            <span>{{ basket.0.total_cost }}</span>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
